.friendsList {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 14px;
}

.friendItem {
  border: 1px solid black;
  border-radius: 10px;
  padding: 12px 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 110px;
}
